* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 100px;
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

body {
    background-color: black;
    /* width: ; */
}

.main {
    display: flex;
    justify-content: space-between;
}

.stripe {
    background-color: black;
    flex-basis: auto;
}

.content {
    /* width: 800px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 800px;
    /* max-width: 800; */
}

.link {
    margin: 0px 5px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1f2937;
    padding: 50px 100px;
}

.image {
    width: 500px;
}

.hero-text {
    width: 400px;
    color: #e5e7eb;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 7px;
    border-style: none;
    margin: 10px 0px;
}

.statistics-block {
    text-align: center;
    padding: 30px 0px 50px 0px;
    background-color: white;
}

.statistics-block h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 120px;
    font-size: 13px;
}

.img-placeholder {
    border-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
    width: 120px;
    height: 120px;
}

.quote {
    text-align: center;
    background-color: #e5e7eb;
    padding: 80px 150px;
    /* width: 700px; */
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote-author {
    text-align: end;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.cot {
    background-color: white;
}

.cot-card {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 30px 100px;
    margin: 70px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cot-card button {
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    color: white;
    background-color: #3882f6;
    padding: 4px 30px;
}

.cot-card p {
    font-weight: 100;
    font-size: 14px;
    margin-top: 5px;
}

footer {
    color: white;
    background-color: #1f2937;
    text-align: center;
    padding: 30px;
}